@{
    var roles = TempData["roles"] as string[];

}
@if (roles != null)
{
    foreach (var item in roles)
    {
        <h1>@item</h1>
    }
}
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    
</div>
